<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>История устройств</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>История устройств</h1>

  <table border="1" cellpadding="10" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Название</th>
        <th>IP</th>
        <th>MAC</th>
        <th>Время</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
        {{devicesList}} 
    </tbody>
  </table>

</body>
</html>
