<h2>Todo page</h2>

{{#if todos.length}}
<ul id="todo-list">
{{#each todos}}
<li class="todo">
    <label>
        <input type="checkbox" class="todo-checkbox" data-id="{{id}}" {{#if completed}}checked{{/if}}>
        <span class="{{#if completed}}completed{{/if}}">{{title}}</span>
    </label>
</li>
{{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}

<script src="/main.js"></script>
